@inject IAuthService _authService;
@inject NavigationManager _navigationManager;
@inject LocalStorageService _localStorageService;

@page "/account/signin"

<div class="login">
    <h2 class="login-header">Iniciar Sesión</h2>

    <form class="login-container" @onsubmit="HandleLogin">
        <p><input type="email" placeholder="Email" @bind="SignInModel.Email"></p>
        <p><input type="password" placeholder="Password" @bind="SignInModel.Password"></p>
        <p><input type="submit" value="Aceptar"></p>
    </form>
</div>


@if (IsLoading)
{
    <LoadingOverlay IsVisible="IsLoading" />
}

@code
{
    private bool IsLoading { get; set; } = false;

    private LoginModel SignInModel = new LoginModel();

    private async Task HandleLogin()
    {
        IsLoading = true;

        var result = await _authService.LoginAsync(SignInModel);

        if (result.Token != null)
        {
            await _localStorageService.SetItem(Configuration.TOKEN, result.Token);
            await _localStorageService.SetItem(Configuration.ROLE, result.Role);
            await _localStorageService.SetItem("FullName", result.FirstName + " " + result.LastName);

            if (result.Role == "Administrator")
                _navigationManager.NavigateTo("/");
            else
                _navigationManager.NavigateTo("/billing/index");
        }
        else
        {
            await SweetAlertServices.ShowErrorAlert("Error", "Usuario o contraseña incorrectos");
        }

        IsLoading = false;
    }


    protected override async Task OnInitializedAsync()
    {
        var token = await _localStorageService.GetItem(Configuration.TOKEN);

        if (token != null)
        {
            var role = await _localStorageService.GetItem(Configuration.ROLE);

            if (role == "Administrator")
                _navigationManager.NavigateTo("/");
            else
                _navigationManager.NavigateTo("/billing/index");
        }
    }
}
<style>

    body {
        font-family: 'Quicksand', sans-serif;
        color: #E0E0E0;
        background: #003053;
    }
</style>