@inject DialogService DialogService;

<div class="row">
    <RadzenNumeric @bind-Value="Price" Placeholder="Ingrese el precio"/>

    <RadzenButton Text="Aceptar" Click="OnSubmit" class="mt-3"/>
</div>



@code {
    [Parameter] public decimal PriceParameter { get; set; } = 0;


    private decimal Price { get; set; }

    private void OnSubmit()
    {
        if(Price != 0)
        {
            DialogService.Close(Price);
        }
        else
        {
            DialogService.Close(0);
        }
    }

    protected override void OnInitialized()
    {
        Price = PriceParameter;
    }
}
