@inject DialogService DialogService;

<div class="row">
    <RadzenNumeric @bind-Value="Quantity" Placeholder="Ingrese la cantidad" />

    <RadzenButton Text="Aceptar" Click="OnSubmit" class="mt-3" />
</div>



@code {
    [Parameter] public int QuantityParameter { get; set; } = 0;


    private decimal Quantity { get; set; }

    private void OnSubmit()
    {
        if (Quantity != 0)
        {
            DialogService.Close(Quantity);
        }
        else
        {
            DialogService.Close(0);
        }
    }

    protected override void OnInitialized()
    {
        Quantity = QuantityParameter;
    }
}
