@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<RadzenDialog />

<div class="page">
   @if (!IsLoginView())
   {
        <NavMenu />
   }

    <main>
        @* <div class="rz-text-align-right" style="margin-bottom:-45px">
            <RadzenProfileMenu Style="border-radius: 0 0 0 20px; background:#003053">
                <Template>
                    <RadzenGravatar Email="user@example.com">
                    </RadzenGravatar>
                </Template>
                <ChildContent>
                    
                </ChildContent>
            </RadzenProfileMenu>
        </div> *@
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code {

    private bool IsLoginView()
    {
        return NavigationManager.Uri.EndsWith("/signin", StringComparison.OrdinalIgnoreCase);
    }

}