@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<RadzenDialog />

<div class="page">
   @if (!IsLoginView())
   {
        <NavMenu />
   }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    private bool IsLoginView()
    {
        return NavigationManager.Uri.EndsWith("/signin", StringComparison.OrdinalIgnoreCase);
    }

}