.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-color {
    font-family: 'Quicksand', sans-serif;
    color: #E0E0E0;
}

.menu-dashboard {
    max-width: 100px;
    height: auto;
    min-height: 100vh;
    background: #003053;
    padding: 20px;
    transition: max-width .3s ease;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

    .top-menu .logo {
        display: flex;
        align-items: center;
    }

        .top-menu .logo span {
            font-size: 18px;
            margin-left: 20px;
            display: none;
        }

    .top-menu .toggle {
        width: 47px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

        .top-menu .toggle i {
            font-size: 35px;
        }

.menu .enlace {
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    transition: all .3s ease;
    padding: 15px 0 15px 17px;
    margin-bottom: 5px;
}

    .menu .enlace:hover {
        background: #184463;
    }

    .menu .enlace i {
        margin-right: 15px;
        font-size: 23px;
    }

    .menu .enlace span {
        opacity: 0;
        transition: opacity .3s ease;
    }

.menu-dashboard.open {
    max-width: 300px;
}

    .menu-dashboard.open .top-menu .logo span {
        display: block;
    }

    .menu-dashboard.open .menu .enlace {
        width: auto;
    }

    .menu-dashboard.open .menu .enlace {
        padding: 15px;
        margin-bottom: 5px;
    }

        .menu-dashboard.open .menu .enlace span {
            opacity: 1;
        }
